= simple_form_for [@user, @initial_test], url: user_initial_test_index_path do |f|
  =f.input :pushups, input_html:{ name: "exercises[pushups]" }
  =f.input :situps, input_html: { name: "exercises[situps]" }
  =f.input :body_weight_squats, input_html: { name: "exercises[body_weight_squats]" }
  =f.hidden_field :status, value: "basic_body_weight"
  =f.submit

  -#= link_to "next step!", next_wizard_path
