= simple_form_for [@user, @initial_test], url: user_initial_test_index_path do |f|
  =f.input :pushups
  =f.input :situps
  =f.input :bodyweight_squats
  =f.hidden_field :user_id, value: @user.id
  =f.hidden_field :status, value: 'first'
  =f.submit

  -#= link_to "next step!", next_wizard_path
