= simple_form_for [@user, @workout], :url => new_user_workout_path do |f|
  = f.input :name
  = f.input :date
  = f.submit
  / added :user to the simple_form_for and it worked, but I have no idea why.