%h1 Ready to Get Started?

%p There's no time like the present to get started. We want to get you on track to your fitness goals today! Here's how it works:

%ol
  %li We'll find out your goals. Whether you want to be a faster running, get stronger, slim down, etc.
  %li Next, we'll ask you some questions so we can tailor workouts specifically for you. This is going to determine if you have any injuries, etc
  %li Lastly, you're going to take <strong>our</strong> workout. This tells us exactly where you are now and lets you track your progress going forward

%p So, ready to get started?

= link_to "Yeah!", new_user_initial_questionnaire_path(current_user)
= link_to "Not quite, take me to my dashboard", users_path