// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress-pic-buttons > .btn {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 70%;
}

#first-user-row {
  margin-bottom: 35px;
}