%aside#sidebar
  #sidebar-search
    .sidebar-toggle
      %i.fa.fa-bars
  #sidebar-menu
    %ul.nav.sidebar-nav
      %li
        %a{:href=>user_dashboard_path}
          %span.glyphicons.glyphicons-star
          %span.sidebar-title
            Dashboard
      %li
        %a{:href=>"#workouts", :class=>"accordion-toggle"}
          %span.glyphicons.glyphicons-settings
          %span.sidebar-title
            Workouts
          %span.caret
        %ul#workouts.nav.sub-nav
          %li
            %a{:href=> user_workouts_path(@user) }
              %span.glyphicons.glyphicons-edit{:style=>"width:15px;"}
              History
          %li
            %a{:href=> new_user_workout_path(@user)}
              %span.glyphicons.glyphicons-magic
              Log New Workout
      %li
        %a{:href=>"#", :class=>"accordion-toggle"}
          %span.glyphicons.glyphicons-adjust_alt
          %span.sidebar-title
            Personal Details
          %span.caret
        %ul#sideOne.nav.sub-nav
          %li
            %a{:href=> new_user_personal_detail_path(@user)}
              %span.glyphicons.glyphicons-macbook
              New Checkin